.card {
    width: 380px; 
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 10px 10px 0px 10px;
    border-radius: 15px;
    border: 1px solid transparent;
}

.card:hover {
    box-shadow: 8px 8px 12px rgba(0,0,0,0.5);
}

.title {
    width: 65%;
    font-size: 20px;
    font-weight: bold;
}

.image-box {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.image-box img {
    height: 100%;
    border-radius: 15px;
}

.card footer {
    padding: 10px 0px 7px 0px;
    width: 100%;
}

.information-row {
    display: inline-block;
    width: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

